{
  "env": {
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  },
  "plugins": ["prettier"]
}