{
  "env": {
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended"],
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": ["eslint-plugin-prettier"]
}